.about{
  background: linear-gradient(0deg, rgba(229,229,229,1) 56%, rgba(229,229,229,1) 56%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 56%);
  padding: 0 0 90px;
  .box-1{
    width: 80%;
    margin: 0 auto;
    &__title{
      color: #222222;
      font-size: 36px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 25px;
      text-align: center;
    }
    &__image{
      display: block;
      margin: 0 auto 10px;
      width: 46px;
      height: 30px;
      object-fit: cover;
    }
    &__subtitle{
      text-align: center;
      color: #000000;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 9px;
      margin-bottom: 60px;
    }
    .box-video{
      position: relative;
      margin-bottom: 65px;
      &__photo{
        display: block;
        width: 920px;
        height: 480px;
        margin: 0 auto;
      }
      &__link{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        .box-video__play{
          transition: 0.6s;
          &:hover{
            transform: scale(1.5);
          }
        }
      }
    }
  }
  .box-2{
    width: 1000px;
    margin: 0 auto;
    transform: translateX(60px);
    .row{
      display: flex;
      margin-right: -15px;
      margin-left: -15px;
      .col-6{
        padding-left: 15px;
        padding-right: 15px;
        width: 44%;
        .text-box{
          &__welcome{
            color: #616161;
            font-size: 14px;
            font-weight: 300;
            width: 100%;
            max-width: 350px;
            line-height: 135%;
          }
          &__logo{
            display: block;
            margin: 0 auto 33px;
            transform: translateX(-30px);
          }
        }
      }
      .col-lg-6{
        display: flex;
        width: 58%;
        padding-left: 40px;
        .text-box-1{
          width: 58%;
          display: flex;
          flex-wrap: wrap;
          margin-left: 30px;
          &:first-child{
            margin-left: 0;
          }
          &__description{
            font-weight: 300;
            font-size: 14px;
            color: #616161;
            margin-bottom: 39px;
            width: 255px;
            line-height: 135%;
            &:last-child{
              margin-bottom: 0;
            }
          }
          &__block{
            display: flex;
            flex-wrap: wrap;
            .text-box-1__palace{
              align-self: flex-end;
              text-transform: uppercase;
              margin-left: 20px;
              margin-bottom: 20px;
              font-weight: 300;
            }
            .text-box-1__logo{
              margin-bottom: 20px;
              object-fit: cover;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
