.header{
  .container{
    width: 1200px;
    margin: 0 auto;
    .header-wrapper__logo{
      max-width: 160px;
      height: 87px;
      width: 100%;
      object-fit: cover;
      .wrapper__logo{
        margin-top: 74px;
      }
    }
    .header-wrapper{
      display: flex;
      justify-content: space-between;
      &__nav{
        margin-top: 110px;
        .header-wrapper__link{
          color: #000;
          margin-right: 30px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 13px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 300;
          &:hover{
            color: #D1A954;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
          }
          &_modify-1{
            color: #D1A954;
            font-family: 'Montserrat', sans-serif;
            border: 1px solid rgba(209, 169, 84, 0.9);
            box-sizing: border-box;
            padding: 7px 9px;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}